body {
    background-image: url('../img/planoDeFundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    position: relative;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    background-color: rgba(42, 42, 48, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1 {
    color: #f5f5f5;
    margin-bottom: 10px;
}

p {
    color: #b0b0b0;
    margin-bottom: 25px;
}

#link-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1em;
    background-color: #333;
    color: #f5f5f5;
}

#link-input:focus {
    outline: none;
    border-color: #078f3b;
}


#gerar-btn {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    color: #fff;
    background-color: #078f3b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#gerar-btn:hover {
    background-color: #033818;
}


#qrcode-container {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    padding: 0;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}


#qrcode-container.visivel {
    height: 220px;
    padding: 10px;
    margin-top: 30px;
    opacity: 1;
}


.botoes-download {
    margin-top: 20px;
    display: none;
    gap: 15px;
    justify-content: center;
}

.botoes-download button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f5f5f5;
}

#download-jpg-btn {
    background-color: #694cee; 
}

#download-jpg-btn:hover {
    background-color: #443b6b;
}

#download-pdf-btn {
    background-color: #694cee;
}

#download-pdf-btn:hover {
    background-color: #443b6b;
}

#mensagem-erro {
    color: #FF5252;
    font-size: 0.9em;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    margin: 0;
    transition: height 0.3s ease, margin 0.3s ease, opacity 0.3s ease;
}

#mensagem-erro.visivel {
    height: 20px;
    opacity: 1;
    margin-top: -10px;
    margin-bottom: 15px;
}


#refresh-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    transition: transform 0.4s ease, color 0.3s ease;
}

#refresh-btn:hover {
    color: #fff;
    transform: rotate(180deg);
}